{% with -%}

<template>
    <div class="page-table" >
        <div class="table-header">
            <div class="table-header-title">{{ title }}</div>
        </div>
        <div class="table-content" v-loading="pageLoading">
            <el-table :data="tableList" border stripe style="width: 100%">
			{%- for field in fields %}
                <el-table-column prop="{{ field.name }}" label="{{ field.title }}" width="150">
                    <template slot-scope="scope">
					{%- if field.type == 'options' %}
                        <span>
						{%- for opt in field.options %}
                            <el-button
                                @click="handle().detail(scope.row)"
                                type="text"
                                size="small"
                            >{{ opt.text }}</el-button>
						{%- endfor %}
                        </span>
					{%- elif field.type == 'time' %}
						{{ '{{' }} scope.{{ field.name }} | dateToTime {{ '}}' }}
					{%- else %}
						{{ '{{' }} scope.{{ field.name }} {{ '}}' }}
					{%- endif %}
                    </template>
                </el-table-column>
			{%- endfor %}
            </el-table>
        </div>
        <div class="table-footer">
            <my-search-pagination
                :limit="data.limit"
                :totalCount="data.totalCount"
                :pageChange="handle().pageChange"
            ></my-search-pagination>
        </div>
    </div>
</template>


{%- endwith %}

